:root{
    --gap:1.5rem;
}

.hero{
    height: calc(100vh - 13.125rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;;
    align-items: center;
    gap: var(--gap);
}
.card{

    max-width: calc(50% - .75rem);
}