:root{
    --gap:1rem;
    --cs-green: #7ee787;
    --cs-purple: #E098F9;
}
.experience, .fa-envelope{
    color: var(--cs-green);
}
.education, .modal-title, .text-pink{
    color: var(--cs-purple);
}




/*Custom classes*/
.cs-green{
    color: var(--cs-green);
}
.cs-purple{
    color: var(--cs-purple);
}




/*Hero*/
.hero{
    height: calc(100vh - 7.125rem);
    display: flex;
    align-items: center;
}
/*Hero-typewriter*/
#typewriter:after {
    content: "|";
    animation: blink 600ms linear infinite alternate;
}
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@media (min-width: 1400px) {
    #typewriter{
        font-size: 3.63rem;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    #typewriter{
        font-size: 3.13rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #typewriter{
        font-size: 2.62rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #typewriter{
        font-size: 1.95rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #typewriter{
        font-size: 1.44rem;
    }
}
@media (max-width: 575px) {
    #typewriter{
        font-size: 4.23vw;
    }
}




/*Experience*/
.experience-parent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: var(--gap);
}
.experience-child{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap);
}
.experience-date{
    width: 7.1rem!important;
    flex-shrink: 0;
}
@media(max-width: 575px) {
    .experience-date{
        width: 4rem!important;
    }
}
.vr{
    width: .15rem;
}
.circle{
    border-width: .15rem!important;
    border-radius: 99rem;
    /*border-color: #c7c8c9!important;*/
    border-color: var(--bs-body-color);
    height: 1.25rem;
    width: 1.25rem;
}
.timeline{
    padding-bottom: .25rem!important;
}




/*Education*/
.cert-card {
    background-color: rgba(var(--bs-body-color-rgb), 0.03);
    flex-grow: 100;
}
.fa-solid {
    font-size: 3rem;
}




/*Skills*/
.badges {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
}
/*Skills-badge-colors*/
.badge-green {
    /*color: RGBA(13,202,240,var(--bs-bg-opacity,1))!important;*/
    color: rgb(126 231 135)!important;
    /*color: rgb(224 152 249)!important;*/
    background-color: RGBA(13,202,240,var(--bs-bg-opacity ,10%))!important;
}
.badge-pink {
    /*color: RGBA(13,110,253,var(--bs-bg-opacity,1))!important;*/
    color: rgb(224 152 249)!important;
    background-color: RGBA(224,152,249,var(--bs-bg-opacity,10%))!important;
}
.badge-blue {
    /*color: RGBA(13,110,253,var(--bs-bg-opacity,1))!important;*/
    color: #0dcaf0!important;
    background-color: RGBA(13,202,240,var(--bs-bg-opacity,15%))!important
}




/*Experience, education, and skills*/
.card{
    flex-grow: 100;
    /*max-width: calc(50% - .75rem);*/
}
/*Experience and skills flexbox*/
.cards, .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    gap: var(--gap);
}




/*Contact*/
.contactTextarea{
    min-height: 6rem!important;
}




/*Hover*/
.cert-card:hover, .card:hover{
    /*transform: skew(-0.06turn, 18deg);*/
    /*transform: perspective(700px) rotateX(-0.03deg) rotateY(-0.03deg);*/
    /*transform: skewY(-0.8deg);*/
    transform: scale(1.005);
    transition: transform 0.25s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.badge:hover{
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.btn:hover{
    transform: scale(1.025);
    transition: transform 0.025s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}




/*start of visible on scroll*/
/*.visibleDiv{*/
/*    animation: opacity-animation 1.25s forwards;*/
/*}*/
/*!*@keyframes visibleDiv {*!*/
/*!*    from { opacity: 0; }*!*/
/*!*    to { opacity: 1;}*!*/
/*!*}*!*/
/*@keyframes opacity-animation {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/

/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/