:root{
    --gap:1rem;
    --cs-green: #7ee787;
    --cs-purple: #E098F9;
}
.experience, .fa-envelope{
    color: var(--cs-green);
}
.education, .modal-title{
    color: var(--cs-purple);
}

/*typewriter*/
.let-highlight{
    color: var(--cs-green);
}
.prop-highlight{
    color: var(--cs-purple);
}
/*.string-highlight{*/
/*    color: #6DB14F;*/
/*}*/
/*#typewriter {*/
/*    font-size: 2em;*/
/*    margin: 0;*/
/*    font-family: "Courier New";*/
/*}*/
#typewriter:after {
    content: "|";
    animation: blink 600ms linear infinite alternate;
}
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.hero{
    height: calc(100vh - 7.125rem);
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    align-items: center;
    /*background-image: url("/assets/hero_bg.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
}

.experience-parent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    row-gap: 1rem;
}
.experience-child{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap);
}
.experience-date{
    width: 7.1rem!important;
    flex-shrink: 0;
}
@media(max-width: 575px) {
    .experience-date{
        width: 4rem!important;
    }
}
.cards, .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    gap: var(--gap);
}
.badges {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    gap: 0.5rem;
}
.card{
    flex-grow: 100;
    /*max-width: calc(50% - .75rem);*/
}

/*badges*/
.text-bg-info {
    /*color: RGBA(13,202,240,var(--bs-bg-opacity,1))!important;*/
    color: rgb(126 231 135)!important;
    /*color: rgb(224 152 249)!important;*/
    background-color: RGBA(13,202,240,var(--bs-bg-opacity ,10%))!important;
}
.text-bg-primary {
    /*color: RGBA(13,110,253,var(--bs-bg-opacity,1))!important;*/
    color: rgb(224 152 249)!important;
    background-color: RGBA(13,110,253,var(--bs-bg-opacity,10%))!important;
}
/*resume*/
.vr{
    width: .15rem;
}
.circle{
    border-width: .15rem!important;
    border-radius: 99rem;
    /*border-color: #c7c8c9!important;*/
    border-color: var(--bs-body-color);
    height: 1.25rem;
    width: 1.25rem;
}
.timeline{
    padding-bottom: .25rem!important;
}

/*@media (min-width: 1400px) {*/
/*    #typewriter{*/
/*        font-size: calc(1.625rem + 4.5vw);*/
/*        font-weight: 300;*/
/*        line-height: 1.2;*/
/*    }*/

/*}*/
@media (min-width: 1400px) {
    #typewriter{
        font-size: 3.63rem;
    }

}
@media (min-width: 1200px) and (max-width: 1399px) {
    #typewriter{
        font-size: 3.13rem;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {
    #typewriter{
        font-size: 2.62rem;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    #typewriter{
        font-size: 1.95rem;
    }

}
@media (min-width: 576px) and (max-width: 767px) {
    #typewriter{
        font-size: 1.44rem;
    }

}
@media (max-width: 575px) {
    #typewriter{
        font-size: 4.23vw;
    }

}
.contactTextarea{
    min-height: 6rem!important;
}
.cert-card {
    /*align-items: center;*/
    background-color: rgba(var(--bs-body-color-rgb), 0.03);
    flex-grow: 100;
}
.fa-solid {
    font-size: 3rem;
}